In [126]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../data"))

# Any results you write to the current directory are saved as output.

['gender_submission_sample.csv', 'test.csv', 'train.csv']

In [127]:
df_train = pd.read_csv('../data/train.csv')
df_test = pd.read_csv('../data/test.csv')

In [128]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

pclass: A proxy for socio-economic status (SES)
1st = Upper
2nd = Middle
3rd = Lower

age: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5

sibsp: The dataset defines family relations in this way...
Sibling = brother, sister, stepbrother, stepsister
Spouse = husband, wife (mistresses and fianc√©s were ignored)

parch: The dataset defines family relations in this way...
Parent = mother, father
Child = daughter, son, stepdaughter, stepson
Some children travelled only with a nanny, therefore parch=0 for them.
</p>

Variable	Definition	Key
survival	Survival	0 = No, 1 = Yes
pclass	Ticket class	1 = 1st, 2 = 2nd, 3 = 3rd
sex	Sex	
Age	Age in years	
sibsp	# of siblings / spouses aboard the Titanic	
parch	# of parents / children aboard the Titanic	
ticket	Ticket number	
fare	Passenger fare	
cabin	Cabin number	
embarked	Port of Embarkation	C = Cherbourg, Q = Queenstown, S = Southampton

In [129]:
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [130]:
print('Total train examples: {}'.format(len(df_train)))
print('Total number of survivors : {}%'.format(round(df_train['Survived'].mean()*100, 2)))

Total train examples: 891
Total number of survivors : 38.38%

In [131]:
print('Total test examples: {}'.format(len(df_test)))

Total test examples: 418

In [132]:
print(418/891)

0.4691358024691358

In [133]:
# From the details in the question we know percentage of survivors
print('percentage of survivors in total = ' + str(round(((2224-1502)*100/2224)))+' %')
# The sinking of the RMS Titanic is one of the most infamous shipwrecks in history.  
#On April 15, 1912, during her maiden voyage, the Titanic sank after colliding with an iceberg, 
# killing 1502 out of 2224 passengers and crew. This sensational tragedy shocked the international community 
# and led to better safety regulations for ships.

percentage of survivors in total = 32 %

Amongst the features provided, lets take only the following for now. 
1. pclass (1-3)
2. sex (0-female, 1-male)
3. age(floating value)
4. sibsp (int value)
5. parch (int value)
6. Fare (float value)
7. Embarked (C = Cherbourg, Q = Queenstown, S = Southampton) == (0,1,2)

Lets ignore the following for now. 
1. Name 
2. Ticket Number - Though the type of ticket might indicate something!
3. Passenger ID 
4. Cabin

Output is 
1. Survived (0-1)

In [134]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [135]:
# Output assignment
y_train = df_train['Survived']

In [136]:
# First we create our training data
x_train = pd.DataFrame() # creates empty dataframe!
x_train['Pclass'] = df_train['Pclass']
x_train['Sex'] = 1*(df_train['Sex']=='male') # 1- male 0-female
x_train['Age'] = df_train['Age'] #some of them are NaN
x_train['SibSp'] = df_train['SibSp'] 
x_train['Parch'] = df_train['Parch'] 
x_train['Fare'] = df_train['Fare'] 
mapping = {'C': 1, 'Q': 2 , 'S': 3}
x_train['Embarked'] = df_train['Embarked'].map(mapping)

In [137]:
print(x_train.shape)

(891, 7)

In [138]:
x_train = x_train.fillna(0) #fill NaN with 0.0
x_train = x_train.replace(np.inf, 0.0) # replace inf with 0.0
print(x_train.shape)

(891, 7)

In [139]:
# Lets split the training data in 70:30 ratio as dev:
from sklearn.cross_validation import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(x_train, y_train, test_size=0.3, random_state=4242)

In [141]:
print(x_train.shape)

(623, 7)

In [150]:
from sklearn.linear_model import LogisticRegression
# Logistic Regression y = W*X + b

log_clf = LogisticRegression(random_state=42)
log_clf.fit(x_train, y_train)
y_pred = log_clf.predict(x_valid)
y_pred_soft = log_clf.predict_proba(x_valid)

from sklearn.metrics import accuracy_score

print('Accuracy Score Logistic Regression = ' + str(accuracy_score(y_valid, y_pred)))


from sklearn.metrics import log_loss
print(log_loss(y_valid,y_pred_soft))

Accuracy Score Logistic Regression = 0.791044776119
0.477525429926

In [151]:
# Decision Tree Clf
# Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier

tree_clf = DecisionTreeClassifier(random_state=42)
tree_clf.fit(x_train, y_train)
y_pred_tree = tree_clf.predict(x_valid)
print()
print('Accuracy Score Decision Tree = ' + str(accuracy_score(y_valid, y_pred_tree)))

Accuracy Score Decision Tree = 0.776119402985

In [194]:
# Bagging Classifier
from sklearn.ensemble import BaggingClassifier

bag_clf = BaggingClassifier(
    DecisionTreeClassifier(random_state=42), n_estimators=1000,
    max_samples=200, bootstrap=True, n_jobs=-1, random_state=42)
bag_clf.fit(x_train, y_train)
y_pred_bagdtc = bag_clf.predict(x_valid)
print(accuracy_score(y_valid, y_pred_bagdtc))
print(log_loss(y_valid,y_pred_bagdtc))

0.813432835821
6.44383736908

In [202]:
# Random Forest Classifier - same as bagging with max_samples = size(training_set)
from sklearn.ensemble import RandomForestClassifier

rnd_clf = RandomForestClassifier(n_estimators=500, max_leaf_nodes=64, n_jobs=-1, random_state=42)
rnd_clf.fit(x_train, y_train)

#  as max_leaf_nodes increased, the accuracy increased. but at 128, it decreases.
y_pred_rf = rnd_clf.predict(x_valid)
print(accuracy_score(y_valid, y_pred_rf))
print(log_loss(y_valid,y_pred_rf))

# important features appear at root of the tree while unimportant at the leafs
#print(rnd_clf.feature_importances_)
features = ['pclass','sex','age','sibsp','parch','fare','embarked']
# feature importance
print()
for feature,score in zip(features,rnd_clf.feature_importances_) :
    print(feature,score)

0.820895522388
6.18608232286

pclass 0.111540210127
sex 0.31662921306
age 0.175234996778
sibsp 0.0525591984331
parch 0.0501423198959
fare 0.25285553897
embarked 0.0410385227371

1. pclass (1-3)
2. sex (0-female, 1-male)
3. age(floating value)
4. sibsp (int value)
5. parch (int value)
6. Fare (float value)
7. Embarked (C = Cherbourg, Q = Queenstown, S = Southampton) == (0,1,2)

In [205]:
#Adaboost classifier
from sklearn.ensemble import AdaBoostClassifier

ada_clf = AdaBoostClassifier(
    DecisionTreeClassifier(max_depth=1), n_estimators=300,
    algorithm="SAMME.R", learning_rate=0.05, random_state=42)
ada_clf.fit(x_train, y_train)
y_pred_ada = ada_clf.predict(x_valid)
print(accuracy_score(y_valid, y_pred_ada))
print(log_loss(y_valid,y_pred_ada))

0.80223880597
6.83048038092

In [179]:
# Gradient Boost classifier
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import GradientBoostingRegressor

gbrt = GradientBoostingRegressor(max_depth=2, n_estimators=1000, random_state=42)
gbrt.fit(x_train, y_train)

# This below part of logic tries to find best number of estimators
errors = [mean_squared_error(y_valid, y_pred)
          for y_pred in gbrt.staged_predict(x_valid)]
bst_n_estimators = np.argmin(errors)

gbrt_best = GradientBoostingRegressor(max_depth=2,n_estimators=bst_n_estimators, random_state=42)
gbrt_best.fit(x_train, y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=2, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=285, presort='auto', random_state=42,
             subsample=1.0, verbose=0, warm_start=False)

In [180]:
y_pred_gradboost = gbrt_best.predict(x_valid)
y_pred_hard_gradboost = ((y_pred_gradboost>=0.5)*1)
print(accuracy_score(y_valid, y_pred_hard_gradboost))
print(log_loss(y_valid,y_pred_gradboost))

0.820895522388
0.663290245952

In [182]:
bst_n_estimators

285